@media (max-width: 576px) {

    .header-main{
        width:100%;
        display:flex;
        justify-content:space-between;
        color:white;
        background-color:005f3e;
        position:fixed;
        top: 0;
    }
    .header-main:hover{
        background-color:#5e001f;
    }
    .header-main-logo{
        margin-left: 0px;
    }
    .header-main-nav{
        margin-left: 0px;
    }
    .header-main ul a{
        color:white;
        text-decoration:none;
        margin:0px;
        transform: scaleX(1);
        }
        ul a:hover{
            text-decoration: underline;
        }
    .header-main-btn{
        margin-right:1px;
        margin-top:13px;
    }
    @keyframes pulse{
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }
    .header-main-btn button{
        height: 40px;
        width: 70px;
        border-radius: 35px;
        transition:2s;
        overflow: hidden;
        cursor: pointer;
    }
    .header-main-btn button:hover{
        background-color: #5e001f;
        z-index: -1;
        transition:background-position 3s; 
        animation: pulse 0.9s infinite;
    }
    
    .header-main-btn a{
        text-decoration: none;
        color: black;
        font: bold;
    }
    
    
    
}
